html,
body {
    margin: 20;
    overflow: hidden;
    height: 100%;
}

p, h4 {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

body {
    background: #444;
    font-family: "Open Sans";
}

a#script {
    cursor: pointer;
}

a#script:hover {

}

.sidenav {
    height: 30%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.footer {
    position:absolute;
    bottom:0;
    color:#ff0000;
    background-color: rgba(60,60,60,0.8);
    font-size:0.75em;
    padding:0.5em;
    color:#ddd;
    width: 100%
}

.footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.footer b {
    background-color: #660000;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gameover {
    display: none;
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    left: 38%;
    top: 30%;
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    padding: 32px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.gameover a {
    color: #fff;
    font-size: .9em;
    text-align: center;
    font-weight: normal;
}

.stats {
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    font-size:0.85em;
    padding:0.5em;
    position: absolute;
    left: auto !important;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#outer {
    width: 33%;
    height: 90px;
    top : 5px;
    left : 33%;
    border: 2px solid #ccc;
    background-color: red;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#inner, #inner div {
    width: 100%;
    overflow: hidden;
    left: -2px;
    position: absolute;
}

#inner {
    border: 1px solid green;
    border-top-width: 0;
    background-color: green;
    bottom: 0;
    height: 100%;
}
