html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #444;
    font-family: "Open Sans";
    font-size: medium;
    line-height: 2;
}

p, h4 {
    margin: 0;
}

.stats summary {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.stats {
    color: #fff;
    min-width: 80px;
    background-color: rgba(60,60,60,0.8);
    font-size: 0.85rem;
    padding: 0.5em;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    border-radius: 1em;
}

.settings-button {
   margin: 0.8em 0.2em;
   display: flex;
   flex-direction: row;
}

.settings-button img {
   max-width: 25px;
   max-height: 25px;
}

.attribution {
   font-size: 0.8em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.attribution div {
   margin: auto;
}

.stats table {
   margin: auto;
   line-height: normal;
}

canvas {
    background-color: #ccaa77;
    width: 100vw;
    min-width: 90vmax;
    max-width: 100vw;
    height: 95vh;
    max-height: 95vh;
    margin-bottom: 10vh;
}

#outer {
    width: 22%;
    height: 80px;
    border: 1px solid #ccc;
    background-color: red;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#inner, #inner div {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#inner {
    border: 1px solid green;
    border-top-width: 0;
    background-color: green;
    bottom: 0;
    height: 100%;
}

@media screen and (max-width: 600px) {
   canvas {
      min-width: 100vw;
      width: 100vw;
      height: 90vh;
      max-height: 90vh;
   }

   .stats {
      font-size: 0.65rem;
      min-width: 70px;
   }

   .stats img {
      max-width: 20px;
      max-height: 20px;
   }

   /* HP bar */
   #outer {
      height: 70px;
   }

   body {
      font-size: 0.8em;
   }
}

a#script {
    cursor: pointer;
}

.sidenav {
    height: 45%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    background-color: #111;
    color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav h2 {
   width: 75%;
   margin: auto;
}

footer {
   position:absolute;
   bottom: 0;
   background-color: rgba(60,60,60,0.8);
   width: 100%;
}

.footer {
    font-size:0.85em;
    padding: 1em;
    color: #ddd;
}

.footer a, .attribution a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.footer b, .attribution b {
    background-color: #660000;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gameover .inner {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
}

.gameover .inner .gameover-scores {
   margin: auto;
}

.gameover-scores p {
   padding: 10px;
   text-align: center;
}

.gameover {
    display: none;
    position: fixed;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(60,60,60,0.8);
}

.gameover a {
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: normal;
}
