html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #444;
    font-family: "Open Sans";
    font-size: medium;
    line-height: 2;
}

header {
   line-height: normal;
}

p, h4 {
    margin: 0;
}

#topscores h4 {
   text-align: center;
}

#topscores ol {
   font-size: 0.5em;
   margin: auto;
   padding: 0;
}

#topscores ol li div {
   display: flex;
   flex-direction: row;
}

#topscores ol li div p {
   width: 40%;
   margin: 0 5%;
   padding: 1px;
}

.gameover a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-weight: normal;
}

.gameover a:hover {
   transition: 0.3s;
   color: #ddd;
   border-color: transparent;
}

.stats {
    color: #fff;
    background-color: #444;
    font-size: 0.75rem;
    padding: 0.5em;
    min-width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    border-radius: 1em;
}

.stats > div {
   margin: auto;
   min-width: 250px;
   max-width: 50%;
   width: 70%;
   margin: auto auto auto 0.25em;
   display: flex;
   flex-direction: row;
}

.stats nav {
   margin: auto 0.25em auto auto;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.settings-button {
   margin: 0.25em;
   display: flex;
   flex-direction: row;
}

.settings-button img {
   margin: auto;
   max-width: 25px;
   max-height: 25px;
   min-width: 20px;
   min-height: 20px;
}

.attribution {
   font-size: 0.8em;
   display: inline-block;
   margin: auto;
}

.attribution div {
   margin: auto;
}

.stats table {
   flex: auto;
   margin: auto;
   line-height: normal;
}

tbody {
   display: inline-block;
}

tbody tr {
   display: inline-table;
}

canvas {
    background-color: #ccaa77;
    width: 100vw;
    min-width: 90vmax;
    max-width: 100vw;
    height: 85vh;
    max-height: 85vh;
    margin-top: 80px;
    margin-bottom: 80px;
}

#outer {
    flex: auto;
    min-width: 80px;
    max-width: 70%;
    margin: auto;
    min-height: 15px;
    height: 2.5vh;
    border: 1px solid #ccc;
    background-color: red;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#inner, #inner div {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#inner {
    transition: 0.35s;
    border: 1px solid green;
    border-top-width: 0;
    background-color: green;
    bottom: 0;
    height: 100%;
}

@media screen and (max-height: 550px) {
   html, body {
      font-size: small;
   }
}

@media screen and (max-width: 600px) {
   canvas {
      min-width: 100vw;
      width: 100vw;
      height: 90vh;
      max-height: 90vh;
      margin-top: 50px;
      margin-bottom: 50px;
   }

   .stats img {
      max-width: 20px;
      max-height: 20px;
   }

   html, body {
      font-size: small;
   }
}

a#script {
    cursor: pointer;
    margin: auto;
}

.sidenav {
    height: 45%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    background-color: #444;
    color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav h2 {
   width: 75%;
   margin: auto;
}

.footer {
   padding: 1em;
}

footer {
   color: #ddd;
   font-size: 0.8em;
   position:absolute;
   bottom: 0;
   background-color: #444;/* rgba(60,60,60,0.8);*/
   width: 100%;
}



.footer a, .attribution a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.footer b, .attribution b {
    background-color: #660000;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gameover .inner {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
}

.gameover .inner .gameover-scores {
   margin: auto;
}

.gameover-scores p {
   padding: 10px;
   text-align: center;
}

.gameover {
    display: none;
    position: fixed;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(60,60,60,0.8);
}
